body {
    font: 100 12px/18px Arial;
}
html { border: 1px dashed #f02; }

.some-selector {
    background: linear-gradient(red, #0ff);
    border-image: url('/img/picture.png');
}
    .some_another-selector {background-image:linear-gradient(red, #3f0)}
.yet_another-selector {
    background: #f35421;
}

.class-with-background {
    font: 12em;
}

.class-contented-word-background {
    position: relative;
    top: 50px;
}

    .complex-selector + .with-neighbor:last-of-type > .and_child {
        color: red;
        display: flex
    }

    .complex-selector + .with-neighbor:last-of-type > .and_child::before {
        border: 1px dashed rgba(0,54,46,0.8);
        background: #f00 right 50% top 30em no-repeat;
        float: left;
    }

@keyframes some-ling_animationsName {
    0% {
        opacity: 1;
    }
    64% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}

.class-to-ignore {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    /* bgImage: ignore */
    background-image: url(path/to/img.png);
}
