.yet_another-selector {
    background-image:url(img/picture.png);
}

.class-with-background {
    background: url(/img/some_picture.png);
}

    .complex-selector + .with-neighbor:last-of-type > .and_child::before {
        background: url(path/to/pic.bmp);
    }
