@media
    only screen
    and (min-device-width: 320px)
    and (-webkit-min-device-pixel-ratio: 2) {
    .rule-without-background-image {
    }

    .rule-with-background-image {
        background-image: url(/path/to/picture.png);
    }
}

@supports (display: flex) {
    .rule-without-background-image {
    }

    .rule-with-background-shorthand::after {
        background-image: url(/path/to/picture.png);
    }
}

@media (max-width: 600px) {
    @supports (display: flex) {
        .rule-with-background-shorthand {
            background-image: url(/path/to/picture.png);
        }

        .rule-ignored {
            /* bgImage: ignore */
        }
    }

    .rule-with-background-image {
        background-image: url(/path/to/picture.png);
    }
}

@media (max-width: 600px) {
    /* bgImage: ignore */

    @supports (display: flex) {
        .rule-with-background-shorthand-ignored {
        }

        .rule-with-background-image-ignored {
        }
    }

    .rule-with-background-image-ignored {
    }
}

@media (min-device-width: 320px) {
    .rule-with-background-image-ignored {
        /* bgImage: ignore */
    }
}
