@media
    only screen
    and (min-device-width: 320px)
    and (-webkit-min-device-pixel-ratio: 2) {
    .rule-without-background-image {
        line-height: 1.4;
        background: red;
    }

    .rule-with-background-image {
        background-image: url(/path/to/picture.png);
    }
}

@supports (display: flex) {
    .rule-without-background-image {
        color: red;
    }

    .rule-with-background-shorthand::after {
        content: '';
        background: #f30 url(/path/to/picture.png);
    }
}

@media (max-width: 600px) {
    @supports (display: flex) {
        .rule-with-background-shorthand {
            display: flex;
            background: red url(/path/to/picture.png) 50%;
            color: #345;
        }

        .rule-ignored {
            /* bgImage: ignore */
            background-image: url(/path/to/picture.png);
        }
    }

    .rule-with-background-image {
        display: block;
        background-image: url(/path/to/picture.png);
    }
}

@media (max-width: 600px) {
    /* bgImage: ignore */

    @supports (display: flex) {
        .rule-with-background-shorthand-ignored {
            display: flex;
            background: red url(/path/to/picture.png) 50%;
            color: #345;
        }

        .rule-with-background-image-ignored {
            background-image: url(/path/to/picture.png);
        }
    }

    .rule-with-background-image-ignored {
        display: block;
        background-image: url(/path/to/picture.png);
    }
}

@media (min-device-width: 320px) {
    .rule-with-background-image-ignored {
        /* bgImage: ignore */
        background-image: url(/path/to/picture.png);
        overflow: hidden;
    }
}
