.rule {
    background-image: url(/path/to/picture.png);
}

.pure-rule {
    background-image: url(/path/to/picture.png);
}

.rule-without-url {
}

.rule-with-other-decls {
    background-image: url(/path/to/picture.png);
}

.ignored-rule {
    /* bgImage: ignore */
}
